<div id="<%= dom_id question %>" class="question">
  <h1 class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= question.title %>
  </h1>

  <p class="my-5">
    <%= question.description %>
  </p>

  <%= link_to 'Answer!', new_question_answer_path(question), class: "w-min rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium hover:bg-blue-400" %>
</div>
