<div class="w-full flex flex-col p-8 rounded-sm shadow-xl">
  <h1 class='text-center font-bold text-4xl'>Game ended!</h1>
  <div class="min-w-full flex flex-col py-8 gap-6">
      <%= render :partial => "game/answer_card", :collection => @user_answers, :as => :answer %>
  </div>

  <%= button_to 'Play again', game_path, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium bg-purple-300 hover:bg-purple-200" %>
</div>