<div class="flex flex-col bg-green-200 p-8 rounded-sm shadow-md">
<h1>Game ended!</h1>

<%= button_to 'Play again', game_path, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
</div>