<div class="flex gap-4 w-full bg-green-200 items-center">
    <%= link_to 'Home', root_path, class: 'bg-purple-200 py-1 px-4 rounded-full shadow-sm' %>
    <% if current_user %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
            <%= current_user.email %>
            <%= current_user.unanswered_questions.count %>
    <% else %>


    <% end %>
</div>