<div class="mx-auto md:w-2/3 w-full relative overflow-hidden bsg-green-300 p-4 rounded-sm" data-controller="answer-card">
    <h1 class="font-bold text-4xl ease-in duration-300" data-answer-card-target="question"><%= answer.question.title %></h1>
    <%= render "form", question: answer.question, answer: answer %>
</div>